<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">
    {{> head}}
    <title>Galería</title>

</head>

<body>

    {{> header}}

    <div class="carrito-desplegado">
        <ul class="carrito-desplegado__lista"></ul>
    </div>

    <div class="titulo-galeria">
        <h1 class="titulo-paginas">Galería</h1>
        <!--<p class="cantidad-productos">20 productos</p>-->
    </div>

    <div class="filtros">

        <h2 class="filtros__titulo">Filtros</h2>
        <ul>
            <li><a href="/galeria" class="filtros__item">Todo</a></li>
            
        </ul>
        <ul>
            <li><a href="/galeria/Ilustración" class="filtros__item">Ilustración</a></li>
            <li><a href="/galeria/Animación" class="filtros__item">Animación</a></li>
        </ul>

        <!--<ul>
            <li><a href="/galeria/Digital" class="filtros__item">Digital</a></li>
            <li><a href="/galeria/Lápiz" class="filtros__item">Lápiz</a></li>
        </ul>-->

    </div>

    <div class="contenedor-productos">
        {{#each productos}}
        <section class="producto-galeria">
            <a href="/galeria/producto/{{nombre}}"><img src="{{imagen.[0]}}" alt="" class="producto-galeria__imagen"></a>
            <article class="producto__info">
                <p class="producto-galeria__categoria">{{categoria}}</p>
                <h4 class="producto-galeria__nombre">{{nombre}}</h4>
                <!--<p class="producto-galeria__precio">${{precio}}</p>-->
            </article>

        </section>

        {{/each}}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <script src="./scripts/galeriaMain.js"></script>
</body>

{{> footer}}